/*updated for new compound interest calculator 07Sep2024 Jarrett C.*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
  }
  
  nav {
    height: 80px;
    background: #154c8a;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
  }
  .logo{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
  }
  
  nav a:hover{
    color: purple;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #dbdbe7;
    margin: 0;
    padding: 20px;
  }
  
  .calculator-container {
    max-width: 400px;
    background-color: #1959ef;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
  }
  
  input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #154c8a;
    ;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1959ef;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  #schedule {
    margin-top: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f9;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
