/* AmortizationTable.css */

.amortization-table {
    max-height: 45vh;
    overflow-y: auto;
    border: 1px solid black;
    margin: 20px 0;
}

.amortization-table table {
    width: 100%;
    border-collapse: collapse;
}

.amortization-table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #154c8a;
    color: white;
    padding: 10px;
    text-align: left;
}

.amortization-table th,
.amortization-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: right;
}

.amortization-table tr:nth-child(even) {
    background-color: #f0ead6;
}
