/* LoanSummary.css */

.loan-summary {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f0ead6;
}

.loan-summary h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.loan-summary p {
    font-size: 18px;
    margin: 5px 0;
}
