/*updated for new compound interest calculator 07Sep2024 Jarrett C.*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
  }
  
  nav {
    height: 80px;
    background: #154c8a;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
  }
  .logo{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
  }
  
  nav a:hover{
    color: purple;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #dbdbe7;
    margin: 0;
    padding: 20px;
  }
  
  .container{
    width: 100%;
    min-height:100vh;
    background: #F8F6F0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-y: auto;
  }
  .calculator{
    background: #317dd4;
    padding: 20px;
    border-radius: 25px;
  }
  .table{
    background: #317dd4;
    padding: 20px;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
    color: black;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
  }
  
  input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #154c8a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1959ef;
  }

  .scheduleTable{
    /*div to hold results and schedule for cohesive styling - EPHRAIM*/
    display: none;
    /* hide left table, display changes to 'block' during scheduleTable generation in .js - EPHRAIM */ 
    width: 30%;
    border: 2px solid green;
    border-radius: 25px;
    min-height: 57vh;
    background-color: #317dd4;

  }
  #result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  #schedule {
    /* margin-top: 20px; */
    text-align: center; 
    max-height: 45vh; /* Set a fixed height for the table container */
    overflow-y: auto;  /* Enable vertical scrolling */
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    /* margin: 0 auto; */
    border: 2px solid #000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 20px; */
    border-color: #000;
  }
  
  table, th, td {
    border: 1px solid #ccc;
    padding: 7px;
    text-align: center;
  }
  /* th.period,
  td.period{
    width: 10%;
  }
  th.balance,
  td.balance{
    width: 90%;
  } */
  
  th {
    background-color: #f4f4f9;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr{
    /* styling odd rows -EPHRAIM */
    background-color: #f6f7ee;
  }