*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

nav {
    height: 80px;
    background: #154c8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}
.logo{
    color: #f0ead6;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    height:80px;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: #F8F6F0;
    padding: 0 1.5rem;
}

nav a:hover{
    color: purple;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    /* grid-template-rows:  auto auto; */
    gap: 16px;
    /* grid-auto-rows: auto; */
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    /* padding-top: 2%; */
    border: 2px solid black;
    
}

h1{
    font-size: 45px;
    text-align: center;
}

#app.m-calculator{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    border-radius: 1.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
    /* align-items: flex-end; */
    /* border: 2px solid red; */
    background-color: #154c8a;
}
.calculator{
    grid-column: 1/2;
    grid-row: 3/5;
    /* border: 3px solid salmon; */
}
label.formLabel-left{
    font-size: 32px;
}
.regBox{
    /* border: 2px solid purple; */
    padding-right: 15%;
}
.inputBoxIcon{
    /* fix $, % icon in input bar */
    position: relative;
    display: flex;
    align-items: center;
    /* border-color: violet; */
    padding-right: 15%;
}
.inputBoxIcon-dollar{
    /* fix $ icon in input bar */
    position: absolute;
    left: 5%;
    font-size: 16px;
    z-index: 1;/* Ensure it's layered above input */
}
.inputBoxIcon-percent{
    position: absolute;
    right: 20%;
    font-size: 16px;
    z-index: 1;/* Ensure it's layered above input */
}
.formInput{
    /* width: 50%; */
    padding: 12px 30px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #f0ead6;
    font: 16px Arial, sans-serif;
}
.formInput::placeholder{
    font-size: 16px;
}
#regBox.formInput{
    width: 100%;
}

.downPayment-amount{
    flex: 3; /*75%*/
}
.downPayment-percent{
    flex: 2; /*25%*/
}
#downPayment-amount.formInput{
    /* padding-left: 30px; */
    width: 100%;
    border-top-left-radius: 15px; /* Left side rounded */
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0; /* Inner border straight */
    border-bottom-right-radius: 0; /* Inner border straight */
    border-right: none;
}
#downPayment-percent.formInput {
    /* padding-right: 30px; */
    width: 100%;
    border-top-right-radius: 15px; /* Right side rounded */
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0; /* Inner border straight */
    border-bottom-left-radius: 0; /* Inner border straight */

}
.evalButton{
    border-radius: 50px;
    width: 85%; /*match the input box size*/
    display: flex;
    border: none;
    background: #a3f574;
    color: #154c8a;
    font-size: 1.2rem;
    padding-top: 5%;
    padding-bottom: 5%;
 
}
.evalButton:hover{
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: scale(1.1);
    filter: brightness(1.2);
}


#amortHead.table-head{
    display: flex;
    text-align: justify;
    line-height: .9;/*adjust the spacing between lines caused by <br>*/
    justify-content: center;
}

canvas{
    display: block;
    /* width: 100%; */
    max-width: 120vh;
}

#amortTable.table-container{
    /* table scrolls */
    max-height: 45vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
#amortTable th{
    /* header does not scroll */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #154c8a;
    color: aliceblue;

}
#amortTable th,td{
    padding: 10px;
    border: 1px solid black;
}

#amortInterest.table-head{
    /* display: flex; */
    justify-content: center;
    align-content: flex-start;
}



.amortSchedule-container{
    /* grid-column: span 2; */
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto;
    width: 100%;
    /* padding-left: 30%; */
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    gap: 1%;
}
.amortSnippet{
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-around;
}

#amortHead{
    /* border: 1px solid brown; */
    grid-column: 1;
    grid-row: 1;
}
#amortInterest{
    /* border: 1px dotted brown; */
    grid-column: 2;
    grid-row: 1;
}
#amortTable{
    /* border: 1px solid blueviolet; */
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-bottom: 20px;
    overflow: hidden;
}
#amortChart{
    /* border: 1px solid pink; */
    grid-column:1 / span 2;
    grid-row: 2;
}

#export-btn{
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor:pointer;
}
#export-btn img{
    transition: transform 0.3s ease, filter 0.3s ease;
}
#export-btn:hover img{
    transform: scale(1.1);
    filter: brightness(1.2);
}
