*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

nav {
    height: 80px;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}
.logo{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

nav a:hover{
    color: purple;
}
.container{
    width: 100%;
    height: 100vh;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: blue;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;
    margin: 10px;/*spacing buttons*/
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px; /*makes "=" button longer*/
}

form input.operator{
    color: black;
}
